@keyframes beating{
    0%{width: 500px; height: 500px;}
    10%{width: 600px; height: 600px;}
    20%{width: 500px; height: 500px;}
    25%{width: 600px; height: 600px;}
    40%{width: 500px; height: 500px;}
    45%{width: 600px; height: 600px;}
    60%{width: 500px; height: 500px;}
    65%{width: 600px; height: 600px;}
    80%{width: 500px; height: 500px;}
    85%{width: 600px; height: 600px;}
    100%{width: 500px; height: 500px;}
}
body{
    background-color: black;
}
.bi-bi-heart-fill{
    position: absolute;
    top: 250px;
    left: 700px;
    animation-name: beating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.bo-bi-heart-fill{
    position: absolute;
    top: 250px;
    left: 700px;
    animation-name: beating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}